<html>
<head>
<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

</head>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/login" class="simple-text">
                    Telos Management Portal
                </a>
                <a href="/login" class="simple-text">
                    天羅科技管理平台
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/meetingManagement">
                        <i class="pe-7s-graph"></i>
                        <p>MEETING MANAGEMENT<br>
                            會議管理
                        </p>
                    </a>
                </li>

                <li>
                    <a href="/accountManagement">
                        <i class="pe-7s-user"></i>
                        <p>OWNER's ACCOUNT</p>
                        <p>業主賬戶管理</p>
                    </a>
                </li>

                <li >
                    <a href="/searchMeetings">
                        <i class="pe-7s-folder"></i>
                        <p>MEETINGS
                            <br> 會議
                        </p>
                    </a>
                </li>

                <li >
                    <a href="/estateManagement">
                        <i class="pe-7s-star"></i>
                        <p>ESTATES MANAGEMENT
                            <br> 會議
                        </p>
                    </a>
                </li>
                <li class="active">
                    <a href="/contractorlist">
                        <i class="pe-7s-graph"></i>
                        <p>CONTRACTOR & SUPPLIERS<br>
                            會議管理
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="pe-7s-map-marker"></i>
                        <p>LOG OUT
                            <br>
                            登出</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">CONTRACTOR & SUPPLIERS/承包商和供应商</a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        
                        
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add Supplier</h4>
                            </div>
                            <div class="content">
                                <form method="post" action="/addSupplier" enctype="multipart/form-data">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Company Name Chinese</label>
                                                <input type="text" class="form-control" placeholder="Company" name="chineseName">
                                                
                                            </div>
                                              <div class="form-group">
                                                <label>Company Name English</label>
                                                <input type="text" class="form-control" placeholder="Company" name="englishName">
                                                
                                            </div>
                                                 <div class="form-group">
                                                <label>Company Address English</label>
                                                <input type="text" class="form-control" placeholder="Company" name="companyAddressEnglish">
                                                
                                            </div>
                                             <div class="form-group">
                                                <label>Company Address Chinese</label>
                                                <input type="text" class="form-control" placeholder="Company" name="companyAddressChinese">
                                                
                                            </div>
                                        </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>FoundedIn</label>
                                                <input type="text" class="form-control" placeholder="Company" name="foundedIn">
                                            </div>
                                            <div class="form-group">
                                                <label>Fax</label>
                                                <input type="text" class="form-control" placeholder="Last Name" name="fax">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Category</label>
                                                <input id="suppliers" class="form-control" type="text" name="category"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Tel.</label>
                                                <input type="text" class="form-control" placeholder="Last Name" name="tel"> 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                             <div class="form-group">
                                                <label>Contact Person</label>
                                                <input type="text" class="form-control" placeholder="Last Name" name="contactPerson">
                                                      <label>Website</label>
                                                <input type="text" class="form-control" placeholder="website" name="website">
                                            </div>
                                            <div class="form-group">
                                                <label>Company Description </label>
                                                <textarea rows="5" class="form-control" name="description"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>Company Description Chinese</label>
                                                <textarea rows="5" class="form-control" name="descriptionChn"></textarea>
                                            </div>
                                             <div class="form-group">
                                                <label>Business Registry.</label>
                                                <input type="file" class="form-control" name="businessRegistry">
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Add Supplier</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>

                    </div>
                    
                <div class="col-md-6">

                    
                     <div class="card">
                            <div class="header">
                                <h4 class="title">Add Contractor</h4>
                            </div>
                            <div class="content">
                                <form method="post" action="/addContractor" enctype="multipart/form-data">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Company Name Chinese</label>
                                                <input type="text" class="form-control" placeholder="Company Name Chinese" name="chineseName">
                                                
                                            </div>
                                              <div class="form-group">
                                                <label>Company Name English</label>
                                                <input type="text" class="form-control" placeholder="Company Name English" name="englishName">
                                                
                                            </div>
                                                 <div class="form-group">
                                                <label>Company Address Chinese</label>
                                                <input type="text" class="form-control" placeholder="Company Address Chinese" name="companyAddressChinese">
                                                
                                            </div>
                                             <div class="form-group">
                                                <label>Company Address English</label>
                                                <input type="text" class="form-control" placeholder="Company Address English" name="companyAddressEnglish">
                                                
                                            </div>
                                        </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>FoundedIn</label>
                                                <input type="text" class="form-control" placeholder="FoundedIn" name="foundedIn">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Category</label>
                                                 <input id="contractors" class="form-control" type="text" name="category"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Company Description </label>
                                                <textarea rows="5" class="form-control" name="description"></textarea>
                                            </div>
                                              <div class="form-group">
                                                <label>Company Description Chinese</label>
                                                <textarea rows="5" class="form-control" name="descriptionChn"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Add Contractor</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        
           <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>
    </div>
   <script type="text/javascript">
$(document).ready(function () {
    var availableTagsSuppliers = [
      "Materials",
      "Furniture"
    ];
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#suppliers" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTagsSuppliers, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
        var availableTagsContractors = [
      "Construction",
      "Consultants",
      "Air Conditioning",
      "Plumbing and Electrical",
      "Fire Control",
      "Demoliation",
      "Architects",
      "Surveyors",
      "Interior Designers",
    ];
 
    $( "#contractors" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTagsContractors, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      }); 
})
    </script>