
<body>
    <div class="loading-screen">
      <div class="inner">
        <div class="preloader-logo" style="width: 150px;"><img class="attachment-full size-full" src="assets/img/telos.png"></div>
        <div class="progress-wrap">
          <div class="indeterminate"></div>
        </div>
      </div>
    </div>
    <!-- Page Wrapper-->
    <main class="page-wrapper">
      <!-- Site header-->
      <header class="site-header header-fullwidth header-floating">
        <div class="navbar-horizontal navbar-ghost menu-skin-light border-default-bottom">

          <div class="navbar-inner">
            <div class="navbar-branding">
              <div class="mobile-menu-toggle">
                <i class="si si-menu"></i>
              </div><a class="site-logo" href="/" style="width: 120px;">
                <img alt="" style="width:50%" src="assets/img/telos_white.png"></a>
                <a class="mobile-logo" href="/" style="width: 120px;">
                  <img alt="" style="width:50%" src="assets/img/telos_white.png">
                </a>
            </div>

          </div>
          <div class="menu-wrap">
            <nav class="main-navigation font-family-nav">
              <ul class="menu">
                <li class="active menu-item menu-item-has-children has-mega-menu"><a href="/"><span>Home</span></a>

                </li>
                <li class="menu-item menu-item-has-children"><a href="/">Portfolio</a>
                </li>
                <li class="menu-item menu-item-has-children"><a href="/about"><span>About</span></a>

                </li>
                </li>
                <li class="menu-item menu-item-has-children has-mega-menu"><a href="/homepagechn">繁体中文</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="navbar-horizontal navbar-sticky border-default-bottom">
          <div class="navbar-inner">
            <div class="navbar-branding">
              <div class="mobile-menu-toggle"><i class="si si-menu"></i></div><a class="site-logo" href="index.html" style="width: 120px;"><img alt="" src="assets/img/telos.png"></a><a class="mobile-logo" href="index.html" style="width: 120px;"><img alt="" src="assets/img/telos.png"></a>
            </div>
          </div>
          <div class="menu-wrap">
            <nav class="main-navigation font-family-nav">
              <ul class="menu">
                <li class="active menu-item menu-item-has-children has-mega-menu"><a href="/"><span>Home</span></a>

                </li>
                <li class="menu-item menu-item-has-children"><a href="/">Portfolio</a>

                </li>
                <li class="menu-item menu-item-has-children"><a href="/about"><span>About</span></a>

                </li>
                <li class="menu-item menu-item-has-children has-mega-menu"><a href="/homepagechn">繁體中文</a>

                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!-- Content Wrapper-->
      <div class="content-wrapper">
        <!-- page-title.pug template-->
        <!-- Page Content-->
        <section class="fw-section layout-full section-no-gap main-intro background-gradient">
          <div class="container-fluid padding-top-1x padding-bottom-1x">
            <div class="main-intro-glare" style="background-image: url(assets/img/home/main_intro_glare.png?id=733) !important;"> </div>
          </div>
        </section>

<!--         main section -->
        <section class="layout-full section-no-gap with-parallax main-intro-bg padding-top-10x padding-bottom-10x" data-offset-top="180" data-jarallax="{&quot;type&quot;:&quot;scroll&quot;,&quot;speed&quot;:0.4,&quot;imgWidth&quot;:1920,&quot;imgHeight&quot;:1200,&quot;noAndroid&quot;:&quot;true&quot;,&quot;noIos&quot;:&quot;true&quot;}" style="background-image: url(assets/img/home/main_hero_bg.png);">
            <div class="form" style="margin-bottom:0; height:380px; overflow-y:auto">
              <img style="height:40px; margin-bottom:2%" src="assets/img/telos.png">
              <form data-toggle="validator" role="form" class="register-form" method="post" action="/register" >
                <div class="form-group">
                  <div class="help-block with-errors" style="color:violet"></div>
                <label style="padding-left: 0px !important">Name/姓名</label>
                <input type="text" class="form-control" id="inputName" placeholder="name" name="chairmanName" required/>
                </div>
                <div class="form-group">
                  <div class="help-block with-errors" style="color:violet"></div>
                <label style="padding-left: 0px !important">Estate/屋苑</label>
                <input type="text" placeholder="estate" name="estateName" required/>
                </div>
                <div class="form-group">
                  <div class="help-block with-errors" style="color:violet"></div>
                <label style="padding-left: 0px !important">Username/用戶名</label>
                <input type="text" placeholder="username" name="username" required/>
                </div>
                <div class="form-group">
                <label style="padding-left: 0px !important" for="inputPassword" class="control-label">Password/密碼</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="password" name="password" required>
                </div>
                <div class="form-group">
                <div class="help-block with-errors" style="color:violet"></div>
                <label style="padding-left: 0px !important">Confirm password/確認密碼</label>
                <input type="password" placeholder="re-enter password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" required/>
                </div>
                <div class="form-group">
                  <div class="help-block with-errors" style="color:violet"></div>
                <label style="padding-left: 0px !important" for="inputEmail" class="control-label">Email/電郵</label>
                <input type="text" class="form-control" id="inputEmail" data-error="Sorry that email address is invalid" placeholder="email address" name="emailAddress" required>
                </div>
                <div class="form-group">
                  <div class="help-block with-errors" style="color:violet"></div>
                <label style="padding-left: 0px !important">Invite Code/邀請碼</label>
                <input type="text" placeholder="invite code" name="inviteCode" required/>

                </div>
                <div class="form-group">
                  <div class="help-block with-errors" style="color:violet"></div>
                <label style="padding-left: 0px !important">Total Number of Units/最多戶</label>
                <input type="text" placeholder="Max number of units" name="numberOfUnits" required/>

                </div>

                <button type="submit">create</button>
                <p class="message" style="font-family: Roboto ,sans-serif">Already registered?/已經註冊? <a href="#">Sign In/登入</a></p>
              </form>
              <form class="login-form" action="/login" method="post" >
              {{#if flash}}
              {{flash}}
              {{/if}}
              <label style="padding-left: 0px !important">username/用戶名</label>
                <input type="text" name="username" placeholder="username" required/>
                <label style="padding-left: 0px !important">password/密碼</label>
                <input type="password" name="password" placeholder="password" required/>
                <button type="submit">Login/登入</button>
                <p class="message" style="font-family: Roboto ,sans-serif">Not registered? <a href="#">Create an account/註冊賬號</a></p>
              </form>
            </div>
        </section>
      </div>
      <!-- Back To Top Button-->
      <a class="scroll-to-top-btn" href="#"><i class="si si-angle-up"></i></a>
      <!-- Backdrop-->
      <div class="site-backdrop"></div>
      <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
      <script src="assets/js/vendor.min.js"></script>
      <script src="assets/js/theme.min.js"></script>
    </main>
    </body>


                  {{!-- <div class="form-group">
                    <label for="inputPassword" class="control-label">Password</label>
                    <div class="form-inline row">
                      <div class="form-group col-sm-6">
                        <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" required>
                        <div class="help-block">Minimum of 6 characters</div>
                      </div>
                      <div class="form-group col-sm-6">
                        <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
                        <div class="help-block with-errors"></div>
                      </div>
                  </div>
                  </div> --}}
