<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    Telos Management Portal
                </a>
                <a href="/" class="simple-text">
                    天羅科技管理平台
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/meetingManagement">
                        <i class="pe-7s-graph"></i>
                        <p>MEETING MANAGEMENT<br>
                            會議管理
                        </p>
                    </a>
                </li>

                <li >
                    <a href="/accountManagement">
                        <i class="pe-7s-user"></i>
                        <p>OWNER's ACCOUNT</p>
                        <p>業主賬戶管理</p>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="pe-7s-map-marker"></i>
                        <p>LOG OUT
                            <br>
                            登出</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">MEETING MANGEMENT/會議管理</a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>

        <div class="content" style="padding-bottom:0; min-height:800px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">SEND YOUTUBE LINK</h4>
                            </div>
                            <div class="content">
                                <form method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>選擇屋苑 | SELECT ESTATES</label>
                                                <!--<input type="text" class="form-control" placeholder="Title" name="estateName">-->
                                                <select class="form-control" id="estateYoutube">
                                                    <option value="">Select Estates</option>
                                                    <option value="Estate 1">ESTATE 1</option>
                                                    <option value="Estate 2">ESTATE 2</option>
                                                    <option value="Estate 3">ESTATE 3</option>
                                                </select>   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>選擇會議 | SELECT MEETINGS</label>
                                                <select class="form-control" id="meetingYoutube">
                                                    <option value="">Select Meeting</option>
                                                </select> 
                                            </div>
                                        </div>
                                    </div>
                                      <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>YOUTUBE LINK</label>
                                                <input type="text" class="form-control" placeholder="YOUTUBE" name="youtubeLink">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- YOUR WORK HERE -->
                                
                                    <input type="hidden" name="floor_info" id="floor_info"/>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">SEND</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">UPDATE POLL RESULTS</h4>
                            </div>
                            <div class="content">
                                <form method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>選擇屋苑 | SELECT ESTATE</label>
                                                <!--<input type="text" class="form-control" placeholder="Title" name="estateName">-->
                                                 <select class="form-control" id="estatePoll">
                                                    <option value="">Select Estates</option>
                                                    <option value="ESTATE 1">ESTATE 1</option>
                                                    <option value="ESTATE 2">ESTATE 2</option>
                                                    <option value="ESTATE 3">ESTATE 3</option>
                                                </select> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>選擇會議 | SELECT MEETINGS</label>
                                                 <select class="form-control" id="meetingPoll">
                                                    <option value="">Select Meeting</option>
                                                </select> 
                                            </div>
                                        </div>
                                    </div>
                                    <!-- YOUR WORK HERE -->
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group pollModal">
                                               
                                            </div>
                                        </div>
                                    </div>
                                
                                    <input type="hidden" name="floor_info" id="floor_info"/>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">SEARCH</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-12">
                       <div class="card">
                            <div class="header">
                                <h4 class="title"> <span id="upcomingMeeting"> ALL UPCOMING MEETINGS </span> / <span id="pastMeeting"> PAST MEETING </span></h4>
                            </div>
                                <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th> PROXY FORMS</th>
                                        <th>POLL END TIME</th>
                                        <th>MEETING START TIME</th>
                                        <th>ESTATE NAME</th>
                                        <th>MEETING TITLE</th>
                                        <th>MEETING STATUS</th>
                                        <th></th>
                                    </thead>
                                    <tbody class="tableCtrl">
                                        <tr>
                                            <td>  <a href="/generateProxyForms" class="btn btn-info btn-fill">GENERATE</a> </td>
                                            <td>Sat Nov 25 2017 14:00 | ENDED</td>
                                            <td>
                                             Fri Dec 01 2017 14:00 | <a href="/votingReminder" class="btn btn-danger btn-fill">REMIND</a>
                                            </td>
                                            <td>HKU</td>
                                           <td> 2017 Annual General Meeting | 2017 週年大會</td> 
                                           <td>current meetings</td>                                      
                                        </tr>
                                                                                <tr>
                                            <td>  <a href="/generateProxyForms" class="btn btn-info btn-fill">GENERATE</a>  </td>
                                            <td>Sat Nov 25 2017 14:00 | ENDED</td>
                                            <td>
                                                Fri Dec 01 2017 14:00 | <a href="/votingReminder" class="btn btn-danger btn-fill">REMIND</a>
                                            </td>
                                            <td>CUHK</td>
                                           <td> 2017 Annual General Meeting | 2017 週年大會</td>  
                                           <td>past meetings</td>                                     
                                        </tr>
                                        <tr>
                                            <td>  </td>
                                            <td>Sat Nov 25 2017 14:00 | <a href="/votingReminder" class="btn btn-danger btn-fill">REMIND</a></td>
                                            <td>
                                                Fri Dec 01 2017 14:00 | <a href="/meetingReminder" class="btn btn-danger btn-fill">REMIND</a></td>
                                            <td>PolyU</td>
                                           <td> 2017 Annual General Meeting | 2017 週年大會</td>   
                                           <td>current meetings</td>                                    
                                        </tr>
                                        <tr>
                                            <td>  </td>
                                            <td>Sat Nov 25 2017 14:00 | <a href="/votingReminder" class="btn btn-danger btn-fill">REMIND</a></td>
                                            <td>
                                                Fri Dec 01 2017 14:00 | <a href="/meetingReminder" class="btn btn-danger btn-fill">REMIND</a>
                                            </td>
                                            <td>CitiU</td>
                                           <td> 2017 Annual General Meeting | 2017 週年大會</td>
                                           <td>past meetings</td>                                       
                                        </tr>

                                        {{!-- {{#if doc_links}} {{#each doc_links}}
                                        <tr>
                                            <td>Post Date/發出日期</td>
                                            <td>
                                                <a href='{{this.url}}' class="view-pdf" data-toggle="modal" data-target="#myModal">{{this.fileName}}</a>
                                            </td>
                                            <td>Effective Until/有效期至</td>
                                        </tr>
                                        {{/each}}
                                        {{else}}
                                        <tr>
                                            <td colspan="2">
                                                No Notices Found/沒有已發出通告
                                            </td>
                                        </tr>
                                        {{/if}} --}}
                                    </tbody>
                                </table>

                            </div>
                        </div>    
                    </div>
                </div>

            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>
    </div>
</div>
<div id="floor_model" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        
    </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
    $('#estateYoutube').change(function() {
        var eState = $(this).val()
        $("#meetingYoutube option").remove();
        $("#meetingYoutube").append('<option value="">'+'Select Meeting'+'</option>');
         if(eState){
            //$("#meetingYoutube").val(eState);
            $("#meetingYoutube").append('<option value='+eState+'>'+eState+'</option>');
         }
    });

    $('#estatePoll').change(function() {
        var eState = $(this).val()
        $("#meetingPoll option").remove();
        $("#meetingPoll").append('<option value="">'+'Select Meeting'+'</option>');
         if(eState){
            //$("#meetingYoutube").val(eState);
            $("#meetingPoll").append('<option value='+eState+'>'+eState+'</option>');
         }
    });

    $('#meetingPoll').change(function() {
        console.log('change')
        var Upbtn = '<button type="button" class="btn btn-info btn-fill pollModel">更新投票結果 | Update Poll</button>'
        $(".pollModal").html('');
         $(".pollModal").append(Upbtn);
    })

    //edit poll model
    
    function poll_modal(blockdata){
            var html = '<div class="modal-content ModelStyle">' +
                            '<div class="modal-header">' +
                                '<h4 class="modal-title">更新投票結果 | Update Poll</h4>'+
                            '</div>' +            
                                    '<div class="row">'+
                                    '<h6>投票一 | Poll 1</h6>'+
                                    '<div class="col-md-6">'+
                                            '<div class="form-group">'+
                                                '<label>是 | Yes:</label>'+
                                                '<input type="text" class="form-control" name="yes" required/>'+
                                            '</div>'+
                                            '<div class="form-group">'+
                                                '<label>否 | No:</label>'+
                                                '<input type="text" class="form-control" name="no" required/>'+
                                            '</div>'+
                                            '<div class="form-group">'+
                                                '<label>棄權 | Abstain:</label>'+
                                                '<input type="text" class="form-control" name="abstain" required/>'+
                                            '</div>'+
                                        '</div>'+
                                    '<div>'+    
                                '</div>'+'</div>'
                             
                        html = html  +

                            '<div class="modal-footer">' +
                             '<button type="button" class="btn ConfirmBtn" id="cancel">確定 | Confirm</button>'+ 
                            '</div>';
                        return html;
        }
    
    
    
    $(document).on('click','.pollModel',function(event){
            var modeldata = '';
            var modelhtml = poll_modal(modeldata);
                $("#floor_model .modal-dialog").html(modelhtml);
                $("#floor_model").modal();
          }) 
    
    $(document).on('click','.ConfirmBtn',function(event){
        $("#floor_model").modal('hide');
    })
    //upcoming Meeting
    $(document).on("click", "#upcomingMeeting", function (event) {
        $('.tableCtrl tr').remove();
        $('#upcomingMeeting').css('color', 'Blue');
        $('#pastMeeting').css('color', 'Black');
        var html = '<tr>'+
                        '<td><a href="/generateProxyForms" class="btn btn-info btn-fill">GENERATE</a></td>'+
                        '<td>Sat Nov 25 2017 14:00 | ENDED</td>'+
                        '<td>Fri Dec 01 2017 14:00 | <a href="/votingReminder" class="btn btn-danger btn-fill">REMIND</a></td>'+
                        '<td>HKU</td>'+
                        '<td> 2017 Annual General Meeting | 2017 週年大會</td>'+ 
                       '<td>current meetings</td>'+     
                       '</tr>'+
                   '<tr>'+
                        '<td></td>'+
                        '<td>Sat Nov 25 2017 14:00 | <a href="/votingReminder" class="btn btn-danger btn-fill">REMIND</a></td>'+
                        '<td>Fri Dec 01 2017 14:00 | <a href="/meetingReminder" class="btn btn-danger btn-fill">REMIND</a></td>'+
                        '<td>PolyU</td>'+
                       '<td> 2017 Annual General Meeting | 2017 週年大會</td>'+   
                       '<td>current meetings</td>'+                                    
                    '</tr>';
                       $('.tableCtrl').append(html);
    })
    //past Meeting
    $(document).on("click", "#pastMeeting", function (event) {
        $('.tableCtrl tr').remove();
        $('#pastMeeting').css('color', 'Blue');
        $('#upcomingMeeting').css('color', 'Black');
        var html = '<tr>'+
                        '<td><a href="/generateProxyForms" class="btn btn-info btn-fill">GENERATE</a></td>'+
                        '<td>Sat Nov 25 2017 14:00 | ENDED</td>'+
                        '<td>Fri Dec 01 2017 14:00 | <a href="/votingReminder" class="btn btn-danger btn-fill">REMIND</a></td>'+
                        '<td>CUHK</td>'+
                        '<td> 2017 Annual General Meeting | 2017 週年大會</td>'+  
                        '<td>past meetings</td>'+                                     
                    '</tr>'+
                    '<tr>'+
                        '<td></td>'+
                        '<td>Sat Nov 25 2017 14:00 | <a href="/votingReminder" class="btn btn-danger btn-fill">REMIND</a></td>'+
                        '<td>Fri Dec 01 2017 14:00 | <a href="/meetingReminder" class="btn btn-danger btn-fill">REMIND</a></td>'+
                        '<td>CitiU</td>'+
                        '<td> 2017 Annual General Meeting | 2017 週年大會</td>'+
                        '<td>past meetings</td>'+                                       
                    '</tr>';
                        $('.tableCtrl').append(html);
    })
})
</script>

